<div style="margin:20px">
	<h1 id="articles">Articles</h1>
	<dl class="dl-horizontal">
		<dt>26 June 2014</dt>
		<dd><a href="/articles/2014/huffman">Data Compression Using Huffman Encoding</a></dd>
		<dt>21 June 2014</dt>
		<dd><a href="/articles/2014/new-site">New Site - Hello Node.js!</a></dd>
	</dl>
	<hr>
</div>

