<div style="margin:20px">
	<div style="margin-top:10px;margin-right:20px;float:left;width:225px;">
		<img src="/images/mypic.jpg" width="225" height="200" style="float:left"/>
	</div>
	<h1>Showzeb Ali</h1>
	<p class="lead">
	Passionate about software development and machine learning.
	</p>
	<h3 id="currently">Currently</h3>
	<p>I’ve completed my undergrad in <a href="http://web.cs.toronto.edu/">Computer Science</a> at
the <a href="http://utoronto.ca/">University of Toronto</a>. I am looking for full-time position where I can  apply my technical knowledge and problem solving skills on challenging real world

problems.</p>

	<h3 id="recent-writing">Recent Writing</h3>
	<ul class="list-group">
		<li class="list-group-item"><a href="/articles/2014/huffman"><strong>Data Compression Using Huffman Encoding</strong></a>  </li>
		<li class="list-group-item"><a href="/articles/2014/new-site"><strong>New Site - Hello Node.js!</strong></a>  </li>
	</ul>
	<hr>
</div>


