body{
	background-image:url('/images/dark-dust.png');
	background-repeat:repeat;
}

#container-main{
background-image:url('/images/cream-dust.png');
max-width:920px;
margin-top:60px;
}

.highlight pre{
background-color:transparent;
}

div .highlight{
max-width:600px;
border-radius:10px;
}

footer li{
float:left;
margin-right:
1.5em;
margin-bottom:1.5em;
}

.table{
width:auto;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

th {
	text-align:center;
}