<nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
	<div class="container">
		<div class="navbar-header"> 
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse"> 
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="#">Showzeb Ali</a> 
		</div> 
		<div class="collapse navbar-collapse" id="example-navbar-collapse"> 
			<ul class="nav navbar-nav"> 
				<li><a href="/">Home</a></li> 
				<li><a href="/articles">Articles</a></li> 
				<li><a href="/resume">Resume</a></li> 
				<li><a href="/contact">Contact</a></li> 
			</ul> 
		</div> 
	</div>
</nav> 

<div id="container-main" class="container clearfix">
	<div style="margin:20px">
		<div id="content-header"><h1>New Site - Hello Node.js!</h1></div>
		<div id="post">
			<p> I was considering many options for web server when I planned to make this website. I wanted to use something that I have never used before so
				I can learn something new. In the end I decided to use <a href="http://nodejs.org/">Node.js</a></p>
				<p> Code for the website is on my <a href="https://github.com/showzeb110/MyWebsite">GitHub</a></p>
			<p class="pull-right"> To Be Continue....</p>
		</div>
	</div>